<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Tenemos lo que necesitas!</h2>
                <hr class="light">
                <p class="text-faded">En nuestro equipo contamos con los mejores expertos para la elección y el montaje de tu nuevo ordenador gaming, tenemos 9 años de experiencia en este sector que tanto nos apasiona.</p>
                <a href="#contact" class="btn btn-default btn-xl">Más sobre nosotros</a>
            </div>
        </div>
    </div>
</section>
