<header>
    <div class="header-content">
        <div class="header-content-inner">
            <style>
                h1 {
                    background-color: rgb(83, 25, 88);
                }

                .mensaje-portada {
                    background-color: rgb(0, 0, 0);
                    color: white;
                }
            </style>
            <h1>Tu sitio gaming favorito</h1>
            <hr>
            <p class="mensaje-portada"><strong>Gaming-Zone te asesoramos de los mejores pc gaming con mejor relación calidad y precio. ¡Echa un vistazo a nuestras recomendaciones!</strong></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
