<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Equipos 
                            </div>
                            <div class="project-name">
                                Equipos preensamblados listos para aportar su máximos rendimiento en juegos competitivos
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Monitores
                            </div>
                            <div class="project-name">
                                Para una mejor experiencia de juego necesitarás un monitor que sea capaz de mostrar el potencial de tu equipo ¿Te atreves a probarlo?
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Auriculares
                            </div>
                            <div class="project-name">
                                Para una inmersión total en el juego en necesario un sonido potente, envolvente y de calidad... ¿No lo crees? Prúebalo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sillas
                            </div>
                            <div class="project-name">
                                Estas sillas te aportarán un extra de confort mientras trabajas con tu equipo durante horas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Teclados
                            </div>
                            <div class="project-name">
                                Disfruta de la máxima calidad y diseño de estos periféricos con iluminación led RGB y ARGB para aportar un diseño magnífico a tu SETUP
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ratones
                            </div>
                            <div class="project-name">
                                ¿Ratón preciso, rápido, ligero de peso, iluminado? Elige el tuyo    
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
