<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nuestros servicios</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Ordenadores a medida</h3>
                    <p class="text-muted">Montamos ordenadores dependiendo de las exigencias de nuestros clientes.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Envio y pago seguro</h3>
                    <p class="text-muted">Enviamos la mercancía de manera gratuita en toda la península incluso en Portugal. En islas y fuera de península hay un pequeño incremento.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Blog personal</h3>
                    <p class="text-muted">Disponemos de blog personal con nuestra mejores recomendaciones y optimizaciones.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Pensamos en nuestros clientes</h3>
                    <p class="text-muted">Es por ello que nuestros clientes nos avalan.</p>
                </div>
            </div>
        </div>
    </div>
</section>
